In [5]:

my_info = {
'name': 'Minjoo',
'birthday': '1125',
'phone': '01011110000',
'email': 'kim@ssafy.com'
}

in_pocket = {
'candy': 3,
'phone': 1,
'card': 2
}

def greeting(info):
    all = []
    for i, j in info.items():
        all[i] = j
        
        
        
def in_my_pocket(pocket, stuff, num):
    if pocket.get(stuff):
        pocket[stuff] += num
    else:
        pocket[stuff] = num
    return pocket

print(greeting(my_info))

print(in_my_pocket(in_pocket, 'candy', 5))

Hi! my name is Minjoo.
Hi! my birthday is 1125.
Hi! my phone is 01011110000.
Hi! my email is kim@ssafy.com.
None
{'candy': 8, 'phone': 1, 'card': 2}

In [15]:
# maximum = my_max(10, 20, 30, 50)
# print(maximum) #50

def my_max(*nums):
    biggest = nums[0]
    for num in nums:
        if biggest < num:
            biggest = num
    return biggest

maximum = my_max(10, 20, 30, 50)
print(maximum)

50

In [16]:
def rm_in_list(l, target):
    for tar in range(l.count(target)):
        l.remove(target)
    return l
rm_in_list([1, 2, 3, 3, 3,3 ,2 ,1, 2], 1)

[2, 3, 3, 3, 3, 2, 2]

In [23]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

pair = []
for boy in boys:
    for girl in girls:
        p = (boy, girl)
        pair.append(p)
print(pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [31]:
#(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

result = []
for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x ** 2 + y ** 2 == z ** 2:
                result.append((x, y, z))
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

list comprehension만 사용해보세요.
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!

In [44]:
words = 'Life is too short, you need python!'
except_word = 'aeiouAEIOU'
result = [word for word in words if word not in except_word]    
print(result)
print(''.join(result))

['L', 'f', ' ', 's', ' ', 't', ' ', 's', 'h', 'r', 't', ',', ' ', 'y', ' ', 'n', 'd', ' ', 'p', 'y', 't', 'h', 'n', '!']
Lf s t shrt, y nd pythn!

In [45]:
#아래에서 미세먼지 농도가 80 초과인 지역만 뽑!!
dusts = { 'seoul': 103, 'kyungki': 79, 'daejeon': 36, 'beijing': 500 }

       
result = {city:dust for city, dust in dusts.items() if dust > 80}
print(result)

{'seoul': 103, 'beijing': 500}

In [46]:
# 80 초과면 나쁨 / 아니면 안나쁨
re = {city: '나쁨' if dust > 80 else '안나쁨' for city, dust in dusts.items()}
print(re)

{'seoul': '나쁨', 'kyungki': '안나쁨', 'daejeon': '안나쁨', 'beijing': '나쁨'}